.base-container {
    width:100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    background:linear-gradient(to right top, #65dfc9, #6cdbeb);

    

    .content {
        display:flex;
        flex-direction: column;
        border-radius: 50px;
        background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
        .header {
            font-family: "Poppins", sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            margin:30px 30px;
        }
    }


    .form {
        margin-top:2em;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:0 30px;

        .form-group {
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            width:fit-content;
            label {
                font-size: 20px;
            }

            input {
                margin-top: 6px;
                min-width: 18em;
                height:37px;
                padding:0 10px;
                font-size: 16px;
                font-family: 'Open sans' ,sans-serif;
                background-color: #f3f3f3;
                border:0;
                border-radius:4px ;
                margin-bottom: 31px;
                transition: all 250ms ease-in-out;
                &:focus {
                    outline:none;
                    box-shadow: 0 0 12px 0.8px #0e81ce;
                }
            }
        }
        .footer {
            margin-top:2em;
            //Button
            .btn {
                font-size: 21px;
                padding: 5px 20px;
                border: 0;
                background-color: #3498db;
                color: #fff;
                border-radius: 3px;
                transition: all 250ms ease-in-out;
                cursor: pointer;
                margin-bottom: 1em;
                &:hover {
                background-color: #2386c8;
                }
                &:focus {
                outline: none;
                }
            }
        }
    }
}